<h1>Buy <%= @bulk_discount.quantity_threshold %> or more items and receive <%= @bulk_discount.percentage %>% off!</h1>

<h3><%= link_to "Edit This Discount", "/merchants/#{@bulk_discount.merchant_id}/bulk_discounts/#{@bulk_discount.id}/edit" %></h3>
