<h1>Welcome to the Little Esty Shop!</h1>

<h3>This app can be navigated as an Admin or a Merchant. Here are some starting points:</h3>

<h5><%= link_to "Merchants", "/admin/merchants" %></h5>
<h5><%= link_to "Merchant 1's Items", "/merchants/1/items" %></h5>
