<h1>Welcome to the Little Esty Shop!</h1>

<h3>This app can be navigated as an Admin or a Merchant. Here are some starting points:</h3>

<h3><%= link_to "Admin - Merchants Index", "/admin/merchants" %></h3>
<h3><%= link_to "Merchant #1's Items Index", "/merchants/1/items" %></h3>
