<h1>Buy <%= @discount.quantity_threshold %> or more items and receive <%= @discount.percentage %>% off!</h1>

<h3><%= link_to "Edit This Discount", "/merchants/#{@discount.merchant_id}/discounts/#{@discount.id}/edit" %></h3>
